{:profile/id :prf/pro-rata-v1
 :profile/version 1
 :profile/status :supported
 :profile/extends :prf/sew-core-v1
 :profile/semantic-features [:prf/ideal-pro-rata-v1]
 :profile/components [:prf/ideal-pro-rata-v1]}
